<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <properties resource="application.properties"/>
    <classPathEntry location="C:\Users\47629\.m2\repository\org\postgresql\postgresql\42.2.18.jre7\postgresql-42.2.18.jre7.jar" />

    <context id="ImagineThis" targetRuntime="MyBatis3Simple" defaultModelType="flat">
        <property name="autoDelimitKeywords" value="true" />

        <property name="javaFileEncoding" value="utf-8" />

        <property name="beginningDelimiter" value="`" />
        <property name="endingDelimiter" value="`" />
        <property name="javaFormatter" value="org.mybatis.generator.api.dom.DefaultJavaFormatter"/>

        <property name="xmlFormatter" value="org.mybatis.generator.api.dom.DefaultXmlFormatter"/>
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />

        <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />

        <commentGenerator >
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="${spring.datasource.driver-class-name}" connectionURL="${spring.datasource.url}" userId="${spring.datasource.username}" password="${spring.datasource.password}" />

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.ucl.imaginethisserver.Entity" targetProject="${mybatis.project}" >
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper" targetProject="${mybatis.resources}" >
            <property name="enableSubPackages" value="false" />
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="com.ucl.imaginethisserver.Mapper" targetProject="${mybatis.project}" type="XMLMAPPER" >
            <property name="enableSubPackages" value="false" />
        </javaClientGenerator>

        <table tableName="feedback" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">
            <property name="feedback_id" value="false"/>
            <property name="project_id" value="false"/>
            <property name="user_id" value="false"/>
            <property name="user_name" value="false"/>
            <property name="feedback_text" value="false"/>
            <property name="f_timestamp" value="false"/>
            <generatedKey column="feedback_id" sqlStatement="Mysql" identity="true" />
            <domainObjectRenamingRule searchString="^f_" replaceString=""/>
        </table>
        <table tableName="votes" enableCountByExample="true" enableUpdateByExample="true" enableDeleteByExample="true" enableSelectByExample="true" selectByExampleQueryId="true">
            <property name="vote_id" value="false"/>
            <property name="feedback_id" value="false"/>
            <property name="user_id" value="false"/>
            <property name="vote" value="false"/>
            <property name="v_timestamp" value="false"/>
            <generatedKey column="vote_id" sqlStatement="Mysql" identity="true" />
            <domainObjectRenamingRule searchString="^v_" replaceString=""/>
        </table>
    </context>
</generatorConfiguration>